<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <title>Sistema de Pedidos</title>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
<a href="/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            <i class="fa fa-long-arrow-left m-l-5"></i>
            <b style="color: black;">PAGINA INICIO</b> 

        </a>
        
            <a class="nav-link" style="color: white" href="/cargar">Cargar producto</a>
        <div class="jumbotron">
            <h1 class="display-4">Administración de Pedidos</h1>
            <p class="lead">Pedidos realizados .</p>
            <hr class="my-4">
        </div>

        <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <form class="form-inline my-2 my-lg-0" >
          
            </form>

        </nav>
        
        <a  href="javascript:document.getElementById('usuario').style.display='none';document.getElementById('producto').style.display='block';void0">PEDIDOS</a>
        <a  href="javascript:document.getElementById('usuario').style.display='block';document.getElementById('producto').style.display='none';void0">PRODUCTOS</a>
         
        <table class="table" id="usuario">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Pedido</th>
                </tr>
                <tr th:each="usuario : ${usuario}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.telefono}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.domicilio}"></td>
                    <td><a><i class="fa fa-pencil"></i></a> - <a><i class="fa fa-trash"></i></a></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table class="table" id="producto" style="display: none">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
                <tr th:each="producto : ${producto}">
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td><a><i class="fa fa-pencil"></i></a> - <a><i class="fa fa-trash"></i></a></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table" id="producto" style="display: none">
            <thead class="thead-dark">
                <tr>
                    <th>Domicilio</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Fecha-Hora</th>
                    <th>Medio de pago</th>
                    <th>Telefono</th>
                    <th>Usuario</th>
                </tr>
                <tr th:each="pedido : ${pedido}">
                    <td th:text="${pedido.docimilio}"></td>
                    <td th:text="${pedido.telefono}"></td>
                    <td><a><i class="fa fa-pencil"></i></a> - <a><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr th:each="usuario : ${usuario}">
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.email}"></td>
                    
                    <td><a><i class="fa fa-pencil"></i></a> - <a><i class="fa fa-trash"></i></a></td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>
