<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carga de producto</title>
</head>
<body>
    <form action="/rigoletto/administrador/cargar" method="post">
        <p>Producto: <input type="text" name="producto" size="40"></p>
        <p>Precio:$ <input type="number" name="precio" min="00.00"></p>
        <p>
          <button  type="submit" class="login100-form-btn" >
			Cargar
              </button>
        </p>
      </form>
</body>
</html>